openai
anthropic
python-dotenv
pandas
ipykernel
aiofiles
tqdm
transformers
datasets
ipywidgets
seaborn
matplotlib
trl
huggingface-hub[hf_transfer]
wandb
liger-kernel
lighteval[math]
pydantic
vllm==0.7.3
ray
huggingface-hub[hf_transfer]
more_itertools